.benefit-consumption{
    position: relative;
    background-color: red;
}

.benefit-consumption .content p.lbl, span.lbl{
    color: #888888;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    text-align: left;
    margin-bottom: 10px;
  }

  .benefit-consumption .content p.txt{
    color: #0079c8;
    font-size: 12px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
  }


 .benefit-consumption .content{
    min-height:  20px;
     position: absolute;
      top: 40%;
       left: 26%;
  }