  .header {
    padding: 20px 40px;
    height: 100%;
  }
  
  .header .title-row{
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .header .title-row .title{
    color: #0079C8;
    font-size: 22px;
    font-weight: 500;
  }

  
  .header .row-subtitle{
    display: flex;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-bottom: 20px;
  }
  
  .header .row-subtitle .sub-title {
    color: #333333;
    text-align: left;
    padding-top: 2px;
    margin-right: 30px;
  }
  
  .header .row-subtitle .vip {
    color: #fff;
    text-align: center;
    background-color: #d81e05;
    text-transform: uppercase;
    padding:2px 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .header .row-subtitle .ambassador {
    color: #fff;
    text-align: center;
    background-color: #0079c8;
    text-transform: uppercase;
    padding:2px 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  
  
  
.header  .row{
    font-weight: 300;
    line-height: 16px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;

  }


  .header  .row .btn{
    background-color: #cccccc;
    color: #333333;
    border-radius: 10px;
    width: 110px;
    text-align: center;
    height: 30px;
    font-size:12px;
  }
  
  .header  .row .label{
    color: #aaaaaa;
    min-width: 100px;
    margin-bottom: 5px;
    margin-right: 10px;
    text-overflow: clip;
  }
  
  .header  .row .text{
    color: #333333;
 
  }
  
  .header  .row .bold-value{
    color: #0179c8;
    font-size: 20px;
    font-weight: 400;
  }


  .header  .memberships-border{
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    margin-top: 10px;
  }
  
  .memberships-all{
    color: #fff;
    text-align: center;
    background-color: #0079c8;
    text-transform: uppercase;
    padding:3px 10px;
    border-radius: 10px;
    margin-right: 10px;
  
  }
   .grey {
    color: #000;
    text-align: center;
    background-color: #f5f5f5;
    text-transform: uppercase;
    padding:5px 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .first-row{
    display: flex;
    min-height: 200px;
    background-color: #fff;
    align-content: space-around;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  
  }
  .test{
    background-color: blue;
    /* width: 100px; */
    height: 100%;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
  }
  